#introduction.container-fluid.one-page.introduction__page.gradient-page
    #header.container-fluid.menu-header__wrapper
        .container
            .navbar.navbar-toggleable-md.navbar-right.navbar-light.menu-header__navbar
                button.navbar-toggler.navbar-toggler-right.menu-header__toggler(
                type="button")
                    i.sidebar.icon
                a.navbar-brand.menu-header__logo-wrapper(href="#")
                    img.menu-header__logo(src='img/logo.svg')
                .collapse.navbar-collapse.menu-header__menu-wrapper
                    ul.navbar-nav.menu-header__menu
                        each item in menuItems
                            li.nav-item.menu-header__item
                                a.nav-link.menu-header__link(href="#" + item.href)
                                    i(class=item.icon + ' icon')
                                    =get(i18n, item.text)
    .container.introduction__image-wrapper
        .row
            .col-12
                picture.ui.fluid.image
                    each size in Object.keys(settings.sizes.screen)
                        -
                            let srcSet = settings.sizes.multiplies.reduce((res, mul) => {
                                return Array.prototype.concat(res, `img/main-${size}@${mul}x.png` + ((mul !== 1) ? ` ${mul}x`: ''))
                            }, []).join(', ')
                        source(media=`(min-width: ${settings.sizes.container[size]}px)` srcset=srcSet)
                    img.ui.fluid.image(srcset='img/main-xs@1x.png')
