doctype html
html
    head
        meta(charset="UTF-8")
        title Капсула времени
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")
        script(src="js/script.js")
        script var kapsulaProducts = !{JSON.stringify(products)}
    body#kapsula
        #introduction.container-fluid.introduction__page
            #header.container-fluid.menu-header
                .ui.container
                    .row
                        .col-xl-3.logo.header.item
                            a(href='#')
                                img.logo(src='img/logo.svg', alt='')
                        #menu.col-xl-9.item
                            .ui.relaxed.large.horizontal.divided.link.list
                                each icon, item in menuItems
                                    a.item
                                        .middle.aligned.content
                                            i(class=icon + ' icon')
                                            =item
            .container
                .row.justify-content-center
                    .col-xl-4.col-lg-5.col-md-10.col-sm-12
                        h1
                            | Капсула Времени, именной подарок
                    .col-xl-4.col-lg-5.col-md-10.d-sm-none.d-xs-none.d-md-block.offset-lg-1
                        h3
                            | Более 4 лет производим оригинальные капсулы времени для корпоративных мероприятий и частных торжеств.
                .row
                    .col-12
                        img.ui.fluid.image(src='img/main_new.png')
                .row.justify-content-center
                    .col-lg-4.col-md-10.col-sm-12
                        .ui.primary.button
                            i.shop.icon
                            | В КОРЗИНУ
                    .col-lg-4.col-md-10.d-sm-none.d-md-block.offset-lg-1
                        p
                            | Мы делаем Капсулы Времени любых размеров и форм.


        #about_capsule.container-fluid.about-capsule__page
            h2(data-animate-type="fade") Что такое Капсула Времени?
            .container(data-animate-type="fade up")
                .row.justify-content-center.animated
                    .col-md-10.col-sm-12
                        h3
                            | Капсула Времени - это оригинальный и интересный подарок, который подходит для мероприятий и торжеств по любому поводу и любого мастштаба.
                .row.justify-content-center
                    .col-lg-6.col-md-8.col-sm-12
                        .ui.relaxed.list.advices
                            .item
                                .content Мы вас выручим, если вы:
                            each item, icon in adviceItems
                                .item
                                    i(class=icon + ' icon')
                                    .content=item




        #capsule_content.container-fluid.capsule-content__page
            h2(data-animate-type="fade") Что можно положить в капсулу?
            .container(data-animate-type="fade up")
                .row.justify-content-center
                    .col-md-10.col-sm-12
                        h3
                            | Капсула вместительная. В нее помещается 100-120 листов А4, а также миниатюрные предметы и аксессуары.
            .row.justify-content-center
                .col-1.d-none.d-lg-block
                    img(src='img/l-bg.png', alt='')
                .col-10
                    .container.tabs-container
                        .row.justify-content-center.d-sm-none.d-md-flex.tab-controllers
                            - var index = 0
                            each item, tab in tabSwitchers
                                .col-xl-2.col-md-3.col-sm-4(data-animate-indexed=((index++)/(Object.keys(tabSwitchers).length - 1)))
                                    .ui.raised.link.fluid.blue.card.card-tab-switcher__wrapper(
                                        data-request-function='switchTo'
                                        data-function-argument=tab
                                    )
                                        .image.ui.center.aligned.card-tab-switcher__image-wrapper
                                            img.ui.centered.medium.image(src='img/' + item.image)
                                        .content.center.aligned
                                            p=item.text
                        .row.justify-content-center(data-animate-type="fade up")
                            .col-lg-10.col-md-12
                                .ui.blue.segment.container.tabs.tab-page__wrapper
                                    each item, tab in tabs
                                        .row.justify-content-center.tab-page__content(data-tab=tab)
                                            .col-lg-4.tab-page__image-wrapper
                                                .ui.image
                                                    img.ui.centered.fluid.image(src='img/' + item.image)
                                            .col-lg-8=item.text
                .col-1.d-none.d-lg-block.right.floated
                    img(src='img/r-bg.png', style='float: right', alt='')

        .container-fluid.titanium-capsule-parallax(
            data-image-src='img/IMG_1713.jpg',
            data-parallax='scroll',
            data-speed='0.8'
        )
        #market.container-fluid.market__page
            h2(data-animate-type="fade") Заказ капсулы времени
            .container
                .row.justify-content-center(data-animate-type="fade up")
                    .col-12
                        h3 Выберите капсулу:
                        .owl-carousel.owl-theme
                            each product, name in products
                                .item.ui.card.product__wrapper(data-product-id=name)
                                    .ui.image(data-behavior-dimmer, data-thumbnail-id=name)
                                        .ui.inverted.dimmer
                                            .content
                                                .center
                                                    h2.ui.icon.header
                                                        i.zoom.icon
                                        img.thumbnail(
                                            src='img/thumbnails/' + product.images[0].file,
                                            alt=product.description
                                        )
                                    .content
                                        .header.product__title=product.title
                                        .ui.labeled.button.product__price-button-group(tabindex='0')
                                            .ui.primary.button.product__buy-button(
                                                data-request-function='addToCart'
                                                data-function-argument=name
                                                data-product-id=name
                                            )
                                                span.product__buy-button_add
                                                    | В корзину
                                                span.product__buy-button_goto
                                                    a(href='#shopping_cart') Оформить
                                            span.ui.basic.primary.left.pointing.label.product__price
                                                =product.price
                .row.justify-content-center
                    .col-12
                        h3 Выберите дополнительные опции:
                        .owl-carousel.owl-theme
                            .item
                                img.thumbnail(src='img/thumbnails/vip3.jpg', data-image-category='safe', alt='')
                                h4 Капсула-сейф
                            .item
                                h4 2
                            .item
                                h4 3
                            .item
                                h4 4
                            .item
                                h4 5

        #shopping_cart.container-fluid.shopping-cart__page
            h2 Корзина
            .container
                .row.justify-content-center
                    .col-lg-6
                        table.ui.celled.table.shopping-cart__wrapper
                            thead.shopping-cart__header
                                tr
                                    th.shopping-cart__number_cell #
                                    th.shopping-cart__item-name_cell(colspan=2) Наименование
                                    th.shopping-cart__price_cell Цена
                            tbody.shopping-cart__body
                                tr.shopping-cart__empty-handler
                                    td(colspan=4) Ваша корзина пуста.
                                        |
                                        |
                                        a(href='#market') К покупкам!
                                template.d-none#product-template
                                    tr(data-product-id='data-template-id')
                                        td.middle.aligned.shopping-cart__number_cell data-template-index
                                        td.shopping-cart__product-name_cell
                                            h4.ui.image.header
                                                img.ui.medium.bordered.image.shopping-cart__product-image(
                                                src='data-template-file',
                                                data-thumbnail-id='data-template-id'
                                                )
                                                .content data-template-title
                                                    .sub.header Подзаголовок
                                        td.middle.aligned.shopping-cart__actions_cell
                                            button.small.ui.red.icon.button.shopping-cart__action(
                                                data-tooltip='Убрать из корзины' data-inverted
                                                data-request-function='removeFromCart'
                                                data-function-argument='data-template-id'
                                            )
                                                i.icon.trash
                                        td.middle.aligned.shopping-cart__price_cell
                                            span.shopping-cart__price data-template-price
                            tfoot.shopping-cart__footer
                                tr.shopping-cart__footer-row
                                    th.shopping-cart__result-title-cell(colspan=3) Итого
                                    th.shopping-cart__result-price-cell 0

        include photoswipe.html