-
    const filterByKeys = function(object, keys) {
        return Object.keys(object)
            .filter(key => keys.includes(key))
            .reduce((obj, key) => {
                obj[key] = object[key];
                return obj;
            }, {});
    }

- const br = '<br />'

-
    function localeDate(date) {
        const months = i18n.months;
        return `${date.getDay()} ${months[date.getMonth()]} ${date.getFullYear()}`;
    }

mixin product_item(name, product)
    .item.ui.card.product__wrapper(data-product-id=name)
        .ui.image(data-behavior-dimmer, data-thumbnail-id=name)
            if(product.label)
                .product__label(class=labels[product.label].color)
                    i.icon(class=labels[product.label].icon)
                    =i18n.market[product.label]
            .ui.inverted.dimmer
                .content
                    .center
                        h2.ui.icon.header
                            i.zoom.icon
            img.thumbnail(
            src='img/thumbnails/' + product.images[0],
            alt=product.description
            )
        .content
            .header.product__title=product.title
            .ui.labeled.button.product__price-button-group(tabindex='0')
                .ui.primary.button.product__buy-button(
                data-request-function='addToCart'
                data-function-argument=name
                data-product-id=name
                )
                    span.product__buy-button_add=i18n.product.addToCart
                    span.product__buy-button_goto
                        a(href='#shopping_cart')=i18n.product.order
                span.ui.basic.primary.left.pointing.label.product__price
                    =product.price > 0 ? product.price + ` ${i18n.product.currency}` : i18n.product.free

mixin page_header(title)
    h2.page-header(data-animate-type="fade in")= title

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
        title=i18n.head.title
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")
        script(src="js/script.js" async)
    body#kapsula
        #introduction.container-fluid.one-page.introduction__page.gradient-page
            #header.container-fluid.menu-header__wrapper
                .container
                    .navbar.navbar-toggleable-md.navbar-right.navbar-light.menu-header__navbar
                        button.navbar-toggler.navbar-toggler-right.menu-header__toggler(
                        type="button")
                            i.sidebar.icon
                        a.navbar-brand.menu-header__logo-wrapper(href="#")
                            img.menu-header__logo(src='img/logo.svg')
                        .collapse.navbar-collapse.menu-header__menu-wrapper
                            ul.navbar-nav.menu-header__menu
                                each item in menuItems
                                    li.nav-item.menu-header__item
                                        a.nav-link.menu-header__link(href="#" + item.href)
                                            i(class=item.icon + ' icon')
                                            =item.text
            .container
                .row.justify-content-center
                    .col-xl-4.col-lg-5.col-md-10.col-sm-12
                        h1
                            | Капсула Времени, именной подарок
                    .col-xl-4.col-lg-5.col-md-10.d-none.d-md-block.offset-lg-1
                        h3
                            | Более 4 лет производим оригинальные капсулы времени для корпоративных мероприятий и частных торжеств.
                .row
                    .col-12
                        img.ui.fluid.image(src='img/main_new.png')
                .row.justify-content-center
                    .col-lg-4.col-md-10.col-sm-12
                        .ui.primary.button
                            i.shop.icon
                            | В КОРЗИНУ
                    .col-lg-4.col-md-10.d-none.d-md-block.offset-lg-1
                        p
                            | Мы делаем Капсулы Времени любых размеров и форм.


        #about_capsule.container-fluid.one-page.about-capsule__page
            +page_header(i18n.aboutCapsule.header)
            .container(data-animate-type="fade up")
                .row.justify-content-center.animated
                    .col-md-10.col-sm-12
                        h3=i18n.aboutCapsule.description
                .row.justify-content-center
                    .col-lg-8.col-md-10.col-sm-12
                        .ui.relaxed.list.advices
                            .item
                                .content.about-capsule__text=i18n.aboutCapsule.listHeader
                            each item, icon in adviceItems
                                .item
                                    i(class=icon + ' icon')
                                    .content.about-capsule__text=item

        #events.container-fluid.one-page.events__page.gradient-page.d-none
            +page_header(i18n.events.header)
            .owl-carousel.owl-theme.events__carousel
                each event in events
                    .item.events__item
                        img.owl-lazy.events__image(data-src="img/events/" + event.image)
                        h3.events__title= event.title
                        div.events__description-block
                            span.events__description-text= event.description
                            a.events__link(href=event.link)=i18n.events.more


        #adventages.container-fluid.one-page.adventages__page
            +page_header(i18n.adventages.header)
            .container
                .row.justify-content-center
                    .col-md-10.col-sm-12
                        .row.justify-content-center.advantages__wrapper(data-animate-type="fade up")
                            each advantage, index in advantages
                                .col-lg-6.col-md-12.row.advantages__item
                                    .container-fluid
                                        .row
                                            .col-3.text-center
                                                h3.ui.icon.header
                                                    i(class=advantage.icon + ' icon')
                                            .col-9.advantages__text=advantage.description
                            if advantages.length % 2 === 1
                                .col-lg-6.d-lg-flex.d-none.row

        .container-fluid.d-none.titanium-capsule-parallax

        #capsule_content.container-fluid.one-page.capsule-content__page
            +page_header(i18n.capsuleContent.header)
            .container(data-animate-type="fade up")
                .row.justify-content-center
                    .col-md-10.col-sm-12
                        h3=i18n.capsuleContent.description
            .row.justify-content-center
                .col-1.d-none.d-lg-block
                    img(src='img/l-bg.png', alt='')
                .col-10
                    .container.tabs-container
                        .row.justify-content-center.d-none.d-md-flex.tab-controllers
                            - var index = 0
                            each item, tab in tabSwitchers
                                .col-xl-2.col-md-3.col-sm-4(data-animate-indexed=((index++) / (Object.keys(tabSwitchers).length - 1)))
                                    .ui.raised.link.fluid.card.card-tab-switcher__wrapper(
                                        data-request-function='switchTo'
                                        data-function-argument=tab
                                        data-tab=tab
                                    )
                                        .image.ui.center.aligned.card-tab-switcher__image-wrapper
                                            img.ui.centered.medium.image(src='img/' + item.image)
                                        .content.center.aligned.card-tab-switcher__title-wrapper
                                            p.card-tab-switcher__title=item.text
                        .row.justify-content-center(data-animate-type="fade up")
                            .col-lg-10.col-md-12.tab-page__wrapper
                                .ui.blue.segment.container.tabs.tab-page__container
                                    each item, tab in tabs
                                        .row.justify-content-center.tab-page__content.transition.hidden(data-tab=tab)
                                            .col-lg-4.tab-page__image-wrapper
                                                .ui.image
                                                    img.ui.centered.fluid.image(src='img/' + item.image)
                                            .col-lg-8.tab-page__text=item.text
                .col-1.d-none.d-lg-block.right.floated
                    img(src='img/r-bg.png', style='float: right', alt='')


        #market.container-fluid.one-page.gradient-page.market__page
            +page_header(i18n.market.header)
            .container
                .row.justify-content-center
                    .col-12
                        h3(data-animate-type="fade in")=i18n.market.choseCapsule
                        .owl-carousel.owl-theme.market__carousel(data-animate-type="fade up")
                            each product, name in filterByKeys(products, products_categories['capsules'])
                                +product_item(name, product)
                .row.justify-content-center
                    .col-12
                        h3(data-animate-type="fade in")=i18n.market.choseOptions
                        .owl-carousel.owl-theme.market__carousel(data-animate-type="fade up")
                            each product, name in filterByKeys(products, products_categories['options'])
                                +product_item(name, product)

        #shopping_cart.container-fluid.one-page.shopping-cart__page
            +page_header(i18n.shoppingCart.header)
            .container
                .row.justify-content-center
                    .col-lg-6.col-md-10.col-sm-12
                        table.ui.celled.unstackable.table.shopping-cart__wrapper
                            thead.shopping-cart__header
                                tr
                                    th.shopping-cart__number_cell #
                                    th.shopping-cart__item-name_cell(colspan=2)=i18n.shoppingCart.name
                                    th.shopping-cart__price_cell=i18n.shoppingCart.price
                            tbody.shopping-cart__body
                                tr.shopping-cart__empty-handler
                                    td(colspan=4)=i18n.shoppingCart.empty
                                    |
                                    |
                                    a(href='#market')=i18n.shoppingCart.goToMarket
                                template.d-none(data-product-template='desktop')
                                    tr(data-product-id='data-template-id')
                                        td.middle.aligned.shopping-cart__number_cell data-template-index
                                        td.shopping-cart__product-name_cell
                                            h4.ui.image.header
                                                img.ui.medium.bordered.image.shopping-cart__product-image(
                                                src='data-template-file',
                                                data-thumbnail-id='data-template-id'
                                                )
                                                .content data-template-title
                                                    .sub.header Подзаголовок
                                        td.middle.aligned.shopping-cart__actions_cell
                                            button.small.ui.red.icon.button.shopping-cart__action(
                                                data-tooltip=i18n.shoppingCart.remove data-inverted
                                                data-request-function='removeFromCart'
                                                data-function-argument='data-template-id'
                                            )
                                                i.icon.trash
                                        td.middle.aligned.shopping-cart__price_cell
                                            span.shopping-cart__price data-template-price
                                template.d-none(data-product-template='mobile')
                                    tr(data-product-id='data-template-id')
                                        td.middle.aligned.shopping-cart__number_cell data-template-index
                                        td.shopping-cart__product-name_cell
                                            h4.ui.image.header
                                                .content data-template-title
                                                    .sub.header Подзаголовок
                                        td.middle.aligned.shopping-cart__actions_cell
                                            button.small.ui.red.icon.button.shopping-cart__action(
                                                data-request-function='removeFromCart'
                                                data-function-argument='data-template-id'
                                            )
                                                i.icon.trash
                                        td.middle.aligned.shopping-cart__price_cell
                                            span.shopping-cart__price data-template-price
                            tfoot.shopping-cart__footer
                                tr.shopping-cart__footer-row
                                    th.shopping-cart__result-title-cell(colspan=3)=i18n.shoppingCart.result
                                    th.shopping-cart__result-price-cell 0


        #clients.container-fluid.one-page.gradient-page.clients__page
            +page_header("Клиенты")
            //.container
            .owl-carousel.owl-theme.clients__carousel
                each client in clients
                    .item.clients__item
                        img.owl-lazy.clients__image(data-src="img/photos/" + client.image)
                        .container.clients__container
                            .row
                                .col-md-6.col-sm-12.flex-last.flex-md-unordered.clients__video-button-wrapper.align-middle
                                    if (client.video)
                                        .clients__video-button(data-video=client.video)
                                            i.video.play.icon
                                .col-md-6.col-sm-12.clients__description-wrapper
                                    a.clients__title(href=client.link)=client.title
                                    .clients__description.d-none.d-lg-block=client.description
                                    .clients__date.d-lg-flex.d-none=localeDate(new Date(client.date))


            .container
                .row
                    each client, index in clients
                        .item.clients__client
                            .clients__client-image-wrapper(data-index=index)
                                img.clients__client-image(src="img/" + client.icon)
        .ui.modal
            .ui.embed

        #gallery.container-fluid.one-page.gallery__page
            +page_header("Галерея")
            .owl-carousel.owl-theme.gallery__carousel
                each photo, index in gallery
                    .item.gallery__item
                        img.owl-lazy.gallery__image(data-src="img/thumbnails/" + photo.image data-thumbnail-index=index)

        #contacts.container-fluid.one-page.footer__page.gradient-page
            .row.justify-content-center
                .col-lg-3.col-md-4.col-sm-12.flex-last.flex-md-unordered.footer__col
                    img.footer__logo(src='img/logo.svg', alt='')
                    p «Капсула времени» — первое в России агентство посланий во времени.
                    p 117216 г. Москва ул Старокочаловская д1 к2. Филиал «Точка» Публичного акционерного общества «Ханты-Мансийский банк Открытие»
                    p ТОЧКА ПАО БАНКА «ФК ОТКРЫТИЕ» !{br}
                        | РС: 40802810205500000055 !{br}
                        | КС: 30101810845250000999 !{br}
                        | БИК: 044525999
                .col-lg-3.col-md-4.col-sm-6.col-12.footer__col
                    h3.footer__header.text-center.text-sm-left
                        i.phone.icon
                        span.content Контактная информация
                    p г. Челябинск, Проспект Победы, дом 160.
                    p г. Санкт-Петербург. Набережная обводного канала, дом 138 (Красный треугольник).
                    p +7 (499) 375-83-08
                .col-lg-3.col-md-4.col-sm-6.col-12.footer__col
                    h3.footer__header.text-center.text-sm-left
                        i.share.alternate.icon
                        span.content Мы в соц. сетях



        include photoswipe.html