include functions.js.pug
include mixins

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
        title=I18N("head.title")
        link(rel="stylesheet" type="text/css" href="firstLoaded.css" inline)
        script(src="js/script.js" async)
        link(rel="shortcut icon" href=favicon.apple.path + favicon.favicon.ico type="image/x-icon")
        each size in favicon.apple.sizes
            link(rel="apple-touch-icon" sizes=size href=favicon.apple.path + favicon.apple.name.replace('{{size}}', size))
        each size in favicon.favicon.sizes
            link(rel="icon" type="image/png" sizes=size, href=favicon.favicon.path + favicon.favicon.name.replace('{{size}}', size))
    body#kapsula
        include blocks/introduction
        include blocks/about
        link(rel="stylesheet" type="text/css" href="css/main.min.css" lazyload=1)
        include blocks/events
        include blocks/advantages
        include blocks/parallax
        include blocks/content
        include blocks/market
        include blocks/shoppingCart
        include blocks/clients
        include blocks/gallery
        include blocks/contacts
        include blocks/photoswipe
        .ui.modal
            .ui.embed