doctype html
html
    head
        meta(charset="UTF-8")
        title Капсула времени
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")
        script(src="js/script.js")
    body
        #first.container-fluid.one-page
            #header.container-fluid.menu-header
                .ui.container
                    .row
                        .col-xl-3.logo.header.item
                            a(href='#')
                                img.logo(src='img/logo.svg', alt='')
                        #menu.col-xl-9.item
                            .ui.relaxed.large.horizontal.divided.link.list
                                each icon, item in menuItems
                                    a.item
                                        .middle.aligned.content
                                            i(class=icon + ' icon')
                                            =item
            .container
                .row.justify-content-center
                    .col-xl-4.col-lg-5.col-md-10.col-sm-12.text-center
                        h1
                            | Капсула Времени, именной подарок
                    .col-xl-4.col-lg-5.col-md-10.d-sm-none.d-xs-none.d-md-block.offset-lg-1
                        h3
                            | Более 4 лет производим оригинальные капсулы времени для корпоративных мероприятий и частных торжеств.
                .row
                    .col-12
                        img.ui.fluid.image(src='img/main_new.png')
                .row.justify-content-center
                    .col-lg-4.col-md-10.col-sm-12.text-center
                        .ui.primary.button
                            i.shop.icon
                            | В КОРЗИНУ
                    .col-lg-4.col-md-10.d-sm-none.d-md-block.offset-lg-1
                        p
                            | Мы делаем Капсулы Времени любых размеров и форм.


        #second.container-fluid.one-page
            h2 Что такое Капсула Времени?
            .container
                .row.justify-content-center
                    .col-md-10.col-sm-12
                        h3
                            | Капсула Времени - это оригинальный и интересный подарок, который подходит для мероприятий и торжеств по любому поводу и любого мастштаба.
                .row.justify-content-center
                    .col-lg-6.col-md-8.col-sm-12
                        .ui.relaxed.list.advices
                            .item
                                .content Мы вас выручим, если вы:
                            each item, icon in adviceItems
                                .item
                                    i(class=icon + ' icon')
                                    .content=item




        #third.container-fluid.one-page
            h2 Что можно положить в капсулу?
            .container
                .row.justify-content-center
                    .col-md-10.col-sm-12
                        h3
                            | Капсула вместительная. В нее помещается 100-120
                            | листов А4, а также миниатюрные предметы и аксессуары.
            .row.justify-content-center
                .col-1.d-none.d-lg-block
                    img(src='img/l-bg.png', alt='')
                .col-10
                    .container.tabs-container
                        .row.justify-content-center.d-sm-none.d-md-flex.tab-controllers
                            each item, tab in tabSwitchers
                                .col-xl-2.col-md-3.col-sm-4
                                    .ui.raised.link.fluid.blue.card(data-tab=tab)
                                        .image.ui.center.aligned
                                            img.ui.centered.medium.image(src='img/' + item.image)
                                        .content.center.aligned
                                            p=item.text
                        .row.justify-content-center
                            .col-lg-10.col-md-12
                                .ui.blue.segment.container.tabs
                                    each item, tab in tabs
                                        .row.justify-content-center.d-none(data-tab=tab)
                                            .col-lg-4.text-center
                                                .image.ui.center.aligned
                                                    img.ui.centered.fluid.image(src='img/' + item.image)
                                            .col-lg-8=item.text
                .col-1.d-none.d-lg-block.right.floated
                    img(src='img/r-bg.png', style='float: right', alt='')

        #market.container-fluid.one-page
            h2 Заказ капсулы времени
            .container
                .row.justify-content-center
                    .col-12
                        h3 Выберите капсулу:
                        .owl-carousel.owl-theme
                            .item.kapsula-product__wrapper
                                img.thumbnail(src='img/thumbnails/vip3.jpg', data-image-category='safe', alt='')
                                h4.kapsula-product__title Капсула-сейф
                                .ui.labeled.button.kapsula-product__price-button-group(tabindex='0')
                                    .ui.primary.button.kapsula-product__buy-button
                                        | В корзину
                                    a.ui.basic.primary.left.pointing.label.kapsula-product__price
                                        | 27 000
                            .item
                                h4 3
                            .item
                                h4 4
                            .item
                                h4 5
                .row.justify-content-center
                    .col-12
                        h3 Выберите дополнительные опции:
                        .owl-carousel.owl-theme
                            .item
                                img.thumbnail(src='img/thumbnails/vip3.jpg', data-image-category='safe', alt='')
                                h4 Капсула-сейф
                            .item
                                h4 2
                            .item
                                h4 3
                            .item
                                h4 4
                            .item
                                h4 5

        include photoswipe.html